<!DOCTYPE html>
<html>
  <head>
    <title>FbFriends</title>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.0.min.js'></script>
    <script type='text/javascript' src='http://connect.facebook.net/en_US/all.js'></script>
    <script type='text/javascript' src='js/bootstrap.min.js'></script>
    <script type='text/javascript' src='js/jquery-ui-1.9.2.custom.js'></script>
    <script type='text/javascript' src='files/fbfriends.js'></script>
    <script type='text/javascript' src='js/demo.js'></script>
    <script type='text/javascript' src='js/toastr.js'></script>
    <link rel='stylesheet' type='text/css' href='files/fbFriends.css'/>
    <link rel='stylesheet' type='text/css' href='css/bootstrap.min.css'/>
    <link rel='stylesheet' type='text/css' href='css/demo.css'/>
    <link rel='stylesheet' type='text/css' href='css/syntax.css'/>
    <link rel='stylesheet' type='text/css' href='css/toastr.css'/>
    <link rel='stylesheet' type='text/css' href='css/ui-lightness/jquery-ui-1.9.2.custom.css'/>
    <script>
    </script>
  </head>
  <body>
    <a href="https://github.com/icambron/fbfriends"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div class="container">
      {{content}}
    </div>
    <div class='footer'>
      <div class='container'>
        <p>Copyright 2012 Isaac Cambron. FbFriends is available under the MIT license.</p>
      </div>
    </div>
  </body>
</html>
